# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# mobile / android build outputs
/mobile/.gradle
/mobile/.idea
/mobile/build
/mobile/app/build
/mobile/app-release-bundle.aab
/mobile/app-release-signed.apk.idsig
/mobile/*.apk
/mobile/*.keystore
/mobile/*.jks
/mobile/local.properties
/mobile/**/*.apk
/mobile/**/*.aab
/mobile/**/*.idsig

*.keystore
*.jks
android.keystore
*.keystore
*.jks
/android
/.bubblewrap